.cart {
    padding: 1rem 2rem;
    background-color: #e4efe4;
    position: fixed;
    top: 0;
    right: 0rem;
    width: 25rem;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.cart.open {
    transform: translateX(0);
}

.cart-close-btn {
    cursor: pointer;
    color: #014210;
    position: relative;
    transform: translateX(500%);
}

.remove-btn {
    cursor: pointer;
    color: #014210;
    position: relative;
    transform: translateX(100%);
}

.cart-heading,
.cart-btns,
.cart-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 2rem; */
    padding-left: 0;
}

.cart-info {
    justify-content: space-between;
}

.cart-items {
    max-height: 21.4rem;
    overflow-y: scroll;
}

/* Scroll Bar */

/* width */
.cart-items::-webkit-scrollbar {
    width: 0.24rem;
}

/* Track */
.cart-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #014221;
    border-radius: 1rem;
}

/* Handle */
.cart-items::-webkit-scrollbar-thumb {
    background: #014210;
    border-radius: 1rem;
}

/* Handle on hover */
.cart-items::-webkit-scrollbar-thumb:hover {
    background: #014210;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    column-gap: 2rem;
}

.cart-img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cart-item-img {
    border: 2px solid #000;
    width: 8.4rem;
}

.cart-item-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.cart-item-info {
    /* width: 100%; */
    display: inline-table;
}

.endLine {
    font-size: 1.2rem;
}

.cart-btns {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-btn {
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.buy-btn {
    border: 3px solid #014210;
    color: #014210;
    background-color: #e4efe4;
    transition: all ease 1s;
}

.buy-btn:hover {
    background-color: #014210;
    /* border: 3px solid #014210; */
    color: #fff;
    transition: all ease 1s;
}

.cancel-btn {
    color: #560000;
    background-color: #efe4e4;
    transition: all ease 1s;
    border: 3px solid #560000;
}

.cancel-btn:hover {
    color: #fff;
    /* border: 3px solid #560000; */
    background-color: #560000;
    transition: all ease 1s;
}
