.categories-section {
    background-color: #fff;
    padding: 2rem;
    /* height: 50rem; */
}

.category-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: flex-start;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.2rem;
}

.category-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

.category {
    display: block;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border-radius: 0.4rem;
    transition: background-color 1s;
}

.category:hover {
    background-color: #e8f6e8;
}

.category.active {
    font-weight: 700;
    background-color: #e8f6e8;
    color: #014210;
    transition: background-color 1s;
}

.category-images {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
    max-height: 38rem;
    overflow-y: scroll;
    transition: max-height 0.5s ease;
}

.category-images img {
    width: 30rem;
    height: 18rem;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 10px rgba(86, 0, 0, 0.3);
    transition: all 1s ease;
}

.category-images img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(1, 66, 16, 0.3);
    transition: all 1s ease;
}

/* Scroll Bar */

/* width */
.category-images::-webkit-scrollbar {
    width: 0.24rem;
}

/* Track */
.category-images::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #014221;
    border-radius: 1rem;
}

/* Handle */
.category-images::-webkit-scrollbar-thumb {
    background: #014210;
    border-radius: 1rem;
}

/* Handle on hover */
.category-images::-webkit-scrollbar-thumb:hover {
    background: #014210;
}

.category-btn {
    background-color: #dfd;
    color: #014210;
    font-weight: 600;
    width: 100%;
    border-radius: 0.4rem;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgba(1, 66, 16, 0.3);
}

.category-btn:hover {
    background-color: #f2d3bdc6;
    color: #560000;
    box-shadow: 5px 5px 10px rgba(86, 0, 0, 0.3);
}
