/* Colour theme of the Project */

/* Primary Colors: Rich Chestnut (#95572A), Deep Forest Green (#014421)
Accent Colors: Brass Gold (#B78628), Olive Green (#738678)
Background: Soft Cream (#F5F2D0)
Feel: A balance between earthy richness and luxurious accents, giving a premium feel. */

/* Font Family */
/* 
Logo : Playfair Display
Title : Merriweather
Content : Roboto
Backup : Sans-serif, Serif
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root {
    /* background-color: #dfb594ac; */
    /* background-color: #ffc499db; */
    background-color: #f2d3bdc6;
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Merriweather", serif;
    color: #014221;
    text-shadow: 3px 3px 6px rgba(1, 66, 16, 0.3);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 100rem;
    transition: all 0.3s ease;
}

button:hover {
    transition: all 0.3s ease;
}

.hero-title {
    font-size: 3.2rem;
}

.sub-heading {
    /* padding-bottom: 1.8rem; */
    margin-bottom: 2.8rem;
    font-size: 2.4rem;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #014221;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #560000;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #560000;
}
