/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */

.brand-name {
    font-size: 4.8rem;
}

.tagLine {
    font-size: 1rem;
}

.footer {
    background-color: #738678;
    /* background-color: #95572a; */
    /* color: #000; */
    color: #fff;
    padding: 1rem;
    padding-bottom: 0;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    justify-content: start;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 1rem;
    /* width: 20rem; */
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0.8rem;
    padding-left: 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 0;
    gap: 1rem;
}

.contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.4rem;
    font-size: 1rem;
}

.nav-col {
    padding: 1.2rem;
}

.footer-info {
    grid-template-areas:
        "main-info main-info account-links category-links info-links help-links"
        "main-info main-info newsletter newsletter credit credit";
}

.main-info {
    grid-area: main-info;
}

.account-links {
    grid-area: account-links;
}

.category-links {
    grid-area: category-links;
}

.info-links {
    grid-area: info-links;
}

.help-links {
    grid-area: help-links;
}

.newsletter {
    grid-area: newsletter;
}

.newsletter > .footer-heading {
    /* font-size: 1.4rem;
    letter-spacing: 0.2rem; */
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.newsletter input[type="email"] {
    padding: 0.72rem;
    border-radius: 100rem;
    font-size: 1rem;
    border: none;
    background-color: #ffffffd8;
    color: #000;
    border: 0.1rem solid #000;
}

.newsletter-form button {
    background-color: #fff;
    color: #738678;
    border: 0.1rem solid #000;
}

.newsletter-form button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    /* border: 2px solid #000; */
}

.credit {
    grid-area: credit;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 0;
    gap: 1.6rem;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-link:link,
.footer-link:visited {
    color: #fff;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #000;
    transition: all 0.3s;
}

.credit {
    font-size: 1.6rem;
    font-family: "Merriweather", cursive;
    font-weight: 600;
    padding: 1.2rem;
    letter-spacing: 2px;
}

.copyright {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
}
