.hero {
    /* background: url("/images/hero.png"); */
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
}

.hero-title {
    padding: 2rem;
    width: 45%;
    margin-top: 4.8rem;
}

.hero-btn {
    margin: -1.2rem 4.8rem 2rem;
    /* margin-right: 9.6rem; */
    font-size: 1.4rem;
    color: #fff;
    background-color: #560000;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 12%;
    text-align: center;
}

.hero-btn:hover {
    transition: all 1s ease;
    background-color: #fff;
    color: #560000;
}
