.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.loader {
    margin: auto;
    border: 0.4rem solid #c2daba;
    border-top: 0.6rem solid #014210;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
