.product {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: #e4efe4;
    padding-top: 4rem;
}

.arrow-btn {
    position: absolute;
    left: 3%;
    top: 15%;
    padding: 2rem;
    margin-bottom: 4rem;
    color: #560000;
    transition: all ease 1s;
}

.arrow-btn:hover {
    color: #014210;
    transition: all ease 1s;
}

.image-container {
    max-width: 35rem;
    border: 2px solid #000;
}

.image-container > img {
    width: 100%;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.product-main-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
}

.stock-tag {
    position: absolute;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    top: 14rem;
    right: 48rem;
    /* margin-top: -2rem; */
    /* font-weight: 600; */
    color: #fff;
}

.few-stock {
    background-color: #ff8811;
}

.out-of-stock {
    background-color: #fb2d2d;
}

.info-btns {
    display: flex;
    border: 2px solid #560000;
    border-radius: 4rem;
    background-color: #ddd;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all ease 1s;
    margin: auto;
}

.info-btns .active {
    background-color: #fff;
    transition: all ease 1s;
}

.info-btn {
    /* font-size: 1.4rem !important; */
    font-weight: 600;
}

.content {
    padding: 0 2rem;
    text-align: left;
    max-height: 18rem;
    overflow-y: auto;
}

.product-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    margin: auto;
}

.add-to-cart-btn {
    border: 3px solid #560000;
    border-radius: 0.4rem;
    color: #560000;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(86, 0, 0, 0.3);
    transition: all ease 0.3s;
    font-weight: 600;
    font-size: 1.2rem;
    /* width: 100%; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-to-cart-btn.sold-out {
    cursor: not-allowed;
    color: #888;
    border-color: #888;
}

.add-to-cart-btn.sold-out:hover {
    color: #888;
    border-color: #888;
}

.add-to-cart-btn:hover {
    border: 3px solid #014210;
    color: #014210;
    box-shadow: 5px 5px 10px rgba(1, 66, 16, 0.3);
    transition: all ease 0.3s;
}

/* Scroll Bar */

/* width */
.content::-webkit-scrollbar {
    width: 0.24rem;
}

/* Track */
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #014221;
    border-radius: 1rem;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: #014210;
    border-radius: 1rem;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #014210;
}
