.profile-section {
    padding: 1rem 2rem;
    background-color: #e4efe4;
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.profile-section.open {
    transform: translateX(0);
}

.profile-close-btn {
    cursor: pointer;
    color: #014210;
    position: relative;
    transform: translateX(500%);
}

.profile-title {
    font-size: 2rem;
    color: #014210;
    text-align: center;
}

.profile-heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: -1rem 0 0.4rem;
}

.info-container {
    max-height: 20rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.basic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    /* gap: 2rem; */
}

.profile-img {
    border: 2px solid #014210;
    box-shadow: 2px 2px 5px #014210;
    width: 8.4rem;
    border-radius: 50%;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    margin: 1rem 0 -1rem 0;
}

.endLine {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    /* margin: -1rem 0; */
}

.additional-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.basic-info h3,
.additional-info h4 {
    margin: 1rem 0;
}

/* .edit-btn {
    color: #560000;
    cursor: pointer;
    position: relative;
    transform: translateX(600%);
} */

.profile-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}

.profile-btn {
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.history-btn,
.reviews-btn {
    border: 3px solid #014210;
    color: #014210;
    background-color: #e4efe4;
    transition: all ease 1s;
}

.history-btn:hover,
.reviews-btn:hover {
    background-color: #014210;
    color: #fff;
}

.edit-btn,
.logout-btn {
    color: #560000;
    background-color: #efe4e4;
    border: 3px solid #560000;
    transition: all ease 1s;
    /* margin-bottom: 0.4rem; */
}

.edit-btn:hover,
.logout-btn:hover {
    color: #fff;
    background-color: #560000;
}
