.store-container {
    background-color: #eee;
    background-color: #e4efe4;
    padding: 2rem;
}

.nav-bar {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 1rem; */
    /* padding-bottom: 0.4rem;
    border-bottom: 0.2rem solid #014210; */
}

.nav-bar input {
    width: 33.5vw;
    /* max-width: 40rem; */
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    border: 2px solid #014210;
    color: #014210;
    background-color: #e4efe4;
    background-color: #eee;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 1s ease;
    transform: translateX(60%);
}

.search-bar input:focus {
    border-color: #560000;
    outline: none;
    color: #560000;
}

.sort-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.sort-btn {
    position: relative;
    background: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.sort-btn.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    height: 0.2rem;
    background-color: #014210;
    color: #014210;
    transition: width 0.3s ease;
}

.products-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: flex-start;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.2rem;
}

.filters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    /* border: 3px solid #014210; */
    box-shadow: 2px 2px 8px rgba(0, 86, 0, 0.3);
    border-radius: 0.4rem;
    background-color: #eee;
}

.filters-list > li {
    box-shadow: 2px 2px 8px rgba(0, 86, 0, 0.3);
}

.category {
    display: block;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border-radius: 0.4rem;
    transition: all ease 1s;
}

.category:hover {
    background-color: #d0f4d0;
    transform: scale(1.05);
    border: 2px solid #014210;
    transition: all ease 1s;
}

.category.active {
    font-weight: 700;
    background-color: #e8f6e8;
    color: #014210;
    border: 2px solid #014210;
    transition: all ease 1s;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-card {
    /* border: 2px solid #560000; */
    /* height: 18rem; */
    border-radius: 0.4rem;
    box-shadow: 5px 5px 10px rgba(86, 0, 0, 0.3);
    transition: all ease 1s;
    background-color: #eee;
    /* padding: 1rem; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    position: relative;
    color: #014210;
}

.product-card:hover {
    border: 2px solid #014210;
    transition: all ease 1s;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(1, 66, 16, 0.3);
    background-color: #fff;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    /* background-color: #560000; */
    color: #560000;
    border-radius: 4rem;
    /* position: absolute; */
    /* left: 80%; */
    /* transform: translateX(-50%);
    top: 45%; */
    /* transform: translateY(480%); */
}

.img-container {
    width: 22.3rem;
    /* height: 4.8rem; */
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    overflow: hidden;
}

.product-img {
    width: 100%;
}

.product-category-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
    margin-top: 0.4rem;
    padding: 0.4rem;
}
.category-item {
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #560000;
    color: #fff;
    padding: 0.3rem;
}

.product-info {
    height: 15rem;
    padding: 1rem;
}

.product-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.product-brand,
.product-name {
    text-align: left;
}

.product-brand {
    color: #560000;
    margin: -0.8rem 0 -1.2rem 0;
}

.product-desc {
    font-size: 1rem;
    text-overflow: ellipsis;
    text-align: left;
    color: #560000;
}

.detail-btn {
    /* font-size: 1.4rem; */
    display: inline-flex;
    color: #014210;
    padding: 0.4rem;
    text-align: center;
    font-weight: 400;
    transition: all ease 0.5s;
    border: none;
    outline: none;
}

/* .info-icon {
    transition: all 0.3s;
    border-radius: 50%;
    padding: 0;
    } */

.detail-btn:hover .info-icon {
    background-color: #014210;
    transition: all ease 0.5s;
    border: none;
    color: #fff;
    outline: none;
}
