.testimonials-section {
    padding: 2rem;
    background-color: #fff;
}

/* .quote {
    font-size: 20rem;
    margin: 0;
    margin-bottom: -25rem;
    text-align: left;
    color: #3e5d45;
    border-radius: 50%;
    display: inline;
    padding-right: 60rem;
} */

.endLine {
    font-size: 1.2rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    max-height: 20rem;
    overflow-y: scroll;
    gap: 1.2rem;
    margin-top: -12.8rem;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.testimonial-item {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 1.2rem;
}

.testimonial-image > img {
    border-radius: 50%;
    width: 15rem;
}

.testimonial-info {
    width: 15rem;
    font-size: 1.2rem;
    text-align: left;
    display: flex;
    padding-top: 1.2rem;
    flex-direction: column;
}

/* Scroll Bar */

/* width */
.testimonials::-webkit-scrollbar {
    width: 0.24rem;
}

/* Track */
.testimonials::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #014221;
    border-radius: 1rem;
}

/* Handle */
.testimonials::-webkit-scrollbar-thumb {
    background: #014210;
    border-radius: 1rem;
}

/* Handle on hover */
.testimonials::-webkit-scrollbar-thumb:hover {
    background: #014210;
}
